# DATA SCIENCE TOOLS AND ECOSYSTEM

IN THIS NOTEBOOK, DATA SCIENCE TOOLS AND ECOSYSTEM ARE SUMMARIZED

OBJECTIVES:
1. Languages that data scienctist use
2. common libraries used by data sciencist
3. arithmetic expression

SOME POPULAR LANGUAGE THAT DATA SCIENTISTS UES:
1. PYTHON
2. R
3. SQL
4. JAVA
5. JAVASCRIPT
6. JULIA
7. SCALA
8. SAS
9. SWIFT
10. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. NUMPY
2. PANDAS
3. PYTORCH
4. TENSOR-FLOW
5. KERAS
6. SEABORN
7. SCIKIT-LEARN
8. SCIPY
9. MATPLOTLIB
10. SCRAPY

In [1]:
import pandas as pd

# Create a list of data science tools
data_science_tools = ['Jupyter Notebook', 'RStudio', 'Spyder']

# Create a DataFrame
df = pd.DataFrame(data_science_tools, columns=['Data Science Tools'])

# Display the DataFrame
print(df)

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2             Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# THIS IS A SIMPLE ARITHMETIC EXPRESSION TO MULTIPLY AND THEN ADD
(3*4)+5

17

In [3]:
#THIS WILL CONVERT 200 MINUTES TO HOURS BY DIVIDING BY 60
hours = 200/60
print(hours)

3.3333333333333335

## AUTHOR
AUGUSTINE ODIRI ENDURANCE